@page "/ansatte/detaljer"
@using BellaFrisoer.Application.Interfaces
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager

<PageTitle>Detaljer</PageTitle>

<h1>Detaljer</h1>

<hr />

@if (Employee is null)
{
	<p><em>Indlæser...</em></p>
}
else
{
	<dl class="row">
		<dt class="col-sm-2">Fornavn</dt>
		<dd class="col-sm-10">@Employee.FirstName</dd>

		<dt class="col-sm-2">Efternavn</dt>
		<dd class="col-sm-10">@Employee.LastName</dd>

		<dt class="col-sm-2">Timepris</dt>
		<dd class="col-sm-10">@Employee.HourlyPrice</dd>

		<dt class="col-sm-2">Telefon Nummer</dt>
		<dd class="col-sm-10">@Employee.PhoneNumber</dd>

		<dt class="col-sm-2">Email</dt>
		<dd class="col-sm-10">@Employee.Email</dd>

		<dt class="col-sm-2">Kompetencer</dt>
		<dd class="col-sm-10">@Employee.Qualifications</dd>
	</dl>

	<div class="mt-3">
		<a class="btn btn-primary" href="@($"/ansatte/rediger?id={Employee.Id}")">Redigér</a>
		<a class="btn btn-danger" href="@($"/ansatte/slet?id={Employee.Id}")">Slet</a>
		<a class="btn btn-secondary" href="/ansatte">Tilbage</a>
	</div>
}

@code {
	private Employee? Employee;

	[SupplyParameterFromQuery]
	private int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Employee = await EmployeeService.GetEmployeeByIdAsync(Id);

		if (Employee is null)
		{
			NavigationManager.NavigateTo("notfound");
		}
	}
}