@page "/"
@using BellaFrisoer.WebUi.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BellaFrisoer.WebUi.Data.BellaFrisoerWebUiContext> DbFactory

@rendermode InteractiveServer

@inject BellaFrisoerWebUiContext Db

<PageTitle>Kalender</PageTitle>

<EditForm Model="@this">
	<InputDate @bind-Value="myDate" />
</EditForm>

<select @bind="SelectedEmployeeId">
	<option value="">-- Alle Ansatte --</option>

	@foreach (var emp in Employees)
	{
		<option value="@emp.Id">@emp.Name</option>
	}
</select>

<button @onclick="SortBookings">Sortér Bookings</button>

@if (SortedBookings.Any())
{
	@foreach (Booking b in SortedBookings)
	{
		<p>@b.Customer.Name</p>
		<p> Har en tid kl. @b.BookingDateTime.TimeOfDay</p>
	}
}


@code {
	private DateTime myDate = DateTime.Today;
	private List<Booking> SortedBookings { get; set; } = new List<Booking>();

	private async Task SortBookings()
	{
		currentCount++;
	}

	public List<Employee> Employees { get; set; } = new();
	public List<Booking> SortedBookings { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		SortedBookings = Bookings
			.Where(b => b.BookingDateTime.Date == myDate.Date)
			.ToListAsync();
	}
}