@page "/"
@using BellaFrisoer.Domain.Interfaces
@using BellaFrisoer.Infrastructure.Data
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

@inject BellaFrisoerWebUiContext Db

<PageTitle>Kalender</PageTitle>

<EditForm Model="@this">
	<InputDate @bind-Value="myDate" />
</EditForm>

<select @bind="SelectedEmployeeId">
	<option value="">-- Alle Ansatte --</option>

	@foreach (var emp in Employees)
	{
		<option value="@emp.Id">@emp.FirstName</option>
	}
</select>

<button @onclick="SortBookings">Sortér Bookings</button>

@if (SortedBookings.Any())
{
	@foreach (Booking b in SortedBookings)
	{
		<p>@b.Customer?.FirstName Har en tid hos @b.Employee?.FirstName kl. @b.BookingDate.TimeOfDay</p>
	}
}

@code
{
	public DateTime myDate = DateTime.Today;

	public int? SelectedEmployeeId { get; set; }

	public List<IEmployee> Employees { get; set; } = new();
	public List<Booking> SortedBookings { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Employees = await Db.Employees.OrderBy(e => e.FirstName).ToListAsync();
	}

	private async Task SortBookings()
	{
		var query = Db.Bookings
			.Include(b => b.Customer)
			.Include(b => b.Employee)
			.Where(b => b.BookingDate.Date == myDate.Date);

		if (SelectedEmployeeId.HasValue)
		{
			query = query.Where(b => b.EmployeeId == SelectedEmployeeId.Value);
		}

		SortedBookings = await query
			.OrderBy(b => b.BookingDate)
			.ToListAsync();
	}
}