@page "/behandlinger/slet"
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@using BellaFrisoer.Application.Interfaces
@inject ITreatmentService TreatmentService
@inject NavigationManager NavigationManager

<PageTitle>Slet behandlinger</PageTitle>

<h1>Slet behandlinger</h1>

<p>Er du sikker på at du vil slette?</p>
<div>
    <h2>Behandlinger</h2>
    <hr />
    @if (Treatment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Treatment.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ProductNumber</dt>
            <dd class="col-sm-10">@Treatment.ProductNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DurationMinutes</dt>
            <dd class="col-sm-10">@Treatment.DurationMinutes</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HourlyRate</dt>
            <dd class="col-sm-10">@Treatment.HourlyRate</dd>
        </dl>
        <EditForm method="post" Model="Treatment" OnValidSubmit="DeleteTreatment" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(Treatment is null)">Delete</button> |
            <a href="/behandlinger">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Treatment? Treatment;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Treatment = await TreatmentService.GetByIdAsync(Id);

        if (Treatment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTreatment()
    {
        await TreatmentService.DeleteTreatmentAsync(Treatment);
        NavigationManager.NavigateTo("/behandlinger");
    }
}
