@page "/behandlinger/detaljer"
@using BellaFrisoer.Application.Interfaces
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ITreatmentService TreatmentService

<PageTitle>Detaljer</PageTitle>

<h1>Detaljer</h1>

<div>
    <h2>Behandling</h2>
    <hr />
    @if (Treatment == null)
    {
        <p><em>Indlæser...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Treatment.Name</dd>
            <dt class="col-sm-2">ProductNumber</dt>
            <dd class="col-sm-10">@Treatment.Price</dd>
            <dt class="col-sm-2">DurationMinutes</dt>
            <dd class="col-sm-10">@Treatment.Duration</dd>
        </dl>
        <div class="mt-3">
            <a class="btn btn-primary" href="@($"/behandlinger/rediger?id={Treatment.Id}")">Redigér</a>
            <a class="btn btn-danger" href="@($"/behandlinger/slet?id={Treatment.Id}")">Slet</a>
            <a class="btn btn-secondary" href="/behandlinger">Tilbage</a>
        </div>
    }
</div>

@code {
    private Treatment? Treatment;
    private string? ErrorMessage;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Treatment ??= await TreatmentService.GetByIdAsync(Id);

            if (Treatment is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Load failed: {ex.Message}";
        }
    }
}
