@page "/behandlinger/detaljer"
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@using BellaFrisoer.Application.Interfaces
@inject ITreatmentService TreatmentService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Behandslings Detaljer</PageTitle>

<h1>Detaljer for behandlinger</h1>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">@ErrorMessage</div>
}

<div>
    <h2>Behandlinger</h2>
    <hr />
    @if (Treatment is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Treatment.Name</dd>
            <dt class="col-sm-2">ProductNumber</dt>
            <dd class="col-sm-10">@Treatment.ProductNumber</dd>
            <dt class="col-sm-2">DurationMinutes</dt>
            <dd class="col-sm-10">@Treatment.DurationMinutes</dd>
            <dt class="col-sm-2">HourlyRate</dt>
            <dd class="col-sm-10">@Treatment.HourlyRate</dd>
        </dl>
        <div>
            <a href="@($"/behandlinger/rediger?id={Treatment.Id}")">Rediger</a>
            <a href="@($"/behandlinger")">Tilbage til liste</a>
            <a href="@($"/behandlinger/slet?id={Treatment.Id}")">Slet behandling</a> 
        </div>
    }
</div>

@code {
    private Treatment? Treatment;
    private string? ErrorMessage;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Treatment ??= await TreatmentService.GetByIdAsync(Id);

            if (Treatment is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Load failed: {ex.Message}";
        }
    }
}
