@page "/kunder/slet"
@using BellaFrisoer.Application.Interfaces
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ICustomerService CustomerService
@rendermode InteractiveServer

<PageTitle>Slet Kunde</PageTitle>

<h1>Slet Kunde</h1>

<p>Er du sikker på at du vil slette denne kunde?</p>
<div>
    <hr />
    @if (customer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
	    <dl class="row">
		    <dt class="col-sm-2">Fornavn:</dt>
		    <dd class="col-sm-10">@customer.FirstName</dd>
	    </dl>
	    <dl class="row">
		    <dt class="col-sm-2">Efternavn:</dt>
		    <dd class="col-sm-10">@customer.LastName</dd>
	    </dl>

	    <dl class="row">
		    <dt class="col-sm-2">Telefon Nummer:</dt>
		    <dd class="col-sm-10">@customer.PhoneNumber</dd>
	    </dl>
	    <dl class="row">
		    <dt class="col-sm-2">Id:</dt>
		    <dd class="col-sm-10">@customer.Id</dd>
	    </dl>
        <EditForm method="post" Model="customer" OnValidSubmit="DeleteCustomer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(customer is null)">Slet</button> |
            <a href="/kunder">Tilbage</a>
        </EditForm>
    }
</div>

@code {
    private Customer? customer;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        customer = await CustomerService.GetCustomerByIdAsync(Id);

        if (customer == null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteCustomer()
    {
	    await CustomerService.DeleteCustomerAsync(customer);
        NavigationManager.NavigateTo("/kunder");
    }
}
