@page "/kunder/detaljer"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Application.Services
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Domain.Models
@inject NavigationManager NavigationManager
@inject ICustomerService CustomerService
@rendermode InteractiveServer

<PageTitle>Detaljer</PageTitle>

<h1>Detaljer</h1>

<div>
    <h2>Kunder</h2>
    <hr />
    @if (customer == null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Fornavn:</dt>
            <dd class="col-sm-10">@customer.FirstName</dd>
            <dt class="col-sm-2">Telefon Nummer:</dt>
            <dd class="col-sm-10">@customer.PhoneNumber</dd>
        </dl>
        <div>
	        <a href="@($"/kunder/rediger?id={customer.Id}")">Redigér</a>
            <hr/>
            <a href="@($"/kunder/slet?id={customer.Id}")">Slet</a>
            <hr/>
            <a href="@($"/kunder")">Tilbage</a>
            <hr/>
        </div>
    }
</div>

@code {
    [SupplyParameterFromForm] private Customer customer { get; set; } = new();

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        customer = await CustomerService.GetCustomerByIdAsync(Id);
        // if (customer is null)
        // {
        //     NavigationManager.NavigateTo("/kunder/detaljer");
        // }
    }
}
