@page "/bookings/detaljer"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Domain.Models
@inject IBookingService BookingService
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Booking</h2>
    <hr />
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Tidspunkt</dt>
            <dd class="col-sm-10">@booking.BookingDate</dd>
            <dt class="col-sm-2">Kunde</dt>
            <dd class="col-sm-10">@booking.Customer?.FirstName @booking.Customer?.LastName</dd>
            <dt class="col-sm-2">Ansat</dt>
            <dd class="col-sm-10">@booking.Employee?.FirstName @booking.Employee?.LastName</dd>
        </dl>
        <div>
            <a href="@($"/bookings/rediger?id={booking.Id}")">Edit</a> |
            <a href="@($"/bookings")">Back to List</a>
            <a href="@($"/behandlinger/slet?id={booking.Id}")">Slet behandling</a>
        </div>
    }
</div>

@code {
    private Booking? booking;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        booking = await BookingService.GetByIdAsync(Id);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
