@page "/bookings/detaljer"
@using BellaFrisoer.Application.Interfaces
@using BellaFrisoer.Domain.Models
@inject IBookingService BookingService
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Booking</h2>
    <hr />
    @if (booking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Tidspunkt</dt>
            <dd class="col-sm-10">@booking.BookingDate</dd>
            <dt class="col-sm-2">Kunde</dt>
            <dd class="col-sm-10">@booking.Customer?.FirstName @booking.Customer?.LastName</dd>
            <dt class="col-sm-2">Ansat</dt>
            <dd class="col-sm-10">@booking.Employee?.FirstName @booking.Employee?.LastName</dd>
            <dt class="col-sm-2">Tidspunkt</dt>
            <dd class="col-sm-10">@booking.BookingDate</dd>
            <dt class="col-sm-2">Pris</dt>
            <dd class="col-sm-10">@booking.TotalPrice</dd>
            <dt class="col-sm-2">Rabat</dt>
            <dd class="col-sm-10">@(((booking.Treatment.Duration / 60 ) * (decimal)booking.Employee.HourlyPrice) - (booking.TotalPrice)) </dd>
        </dl>
        <div>
            <div class="mt-3">
                <a class="btn btn-primary" href="@($"/bookings/rediger?id={booking.Id}")">Redigér</a>
                <a class="btn btn-danger" href="@($"/bookings/slet?id={booking.Id}")">Slet</a>
                <a class="btn btn-secondary" href="/bookings">Tilbage</a>
            </div>
        </div>
    }
</div>

@code {
    private Booking? booking;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        booking = await BookingService.GetByIdAsync(Id);

        if (booking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
