@page "/bookings"
@using Microsoft.EntityFrameworkCore
@using BellaFrisoer.Application.Interfaces
@inject IBookingService BookingService

<PageTitle>Bookings</PageTitle>

<h1>Bookings</h1>

<p>
    <a class="btn btn-primary" href="/bookings/opret">Opret Booking</a>
    <a class="btn btn-secondary" href="/kunder">Kunder</a>
</p>

@if (bookings is null)
{
	<p><em>Loading...</em></p>
}
else if (!bookings.Any())
{
	<p>Ingen bookings endnu...</p>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Ansatte</th>
				<th>Kunde</th>
				<th>Dato/Tidspunkt</th>
				<th>Varighed (minutter)</th>
				<th>Slut tid</th>
				<th>Behandslingtype</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var b in bookings)
			{
				<tr>
					<td>@(b.Employee?.FirstName ?? "—")</td>
					<td>@(b.Customer?.FirstName ?? "-")</td>
					<td>@(b.BookingDateTime.ToString() ?? "—")</td>
					<td>@(b.BookingDuration.ToString() ?? "-")</td>
					<td>@(b.BookingEndTime.ToString() ?? "-")</td>
					<td>@(b.Treatment?.Name ?? "-")</td>

					<td>
						<a href="/bookings/detaljer?id=@b.Id" class="btn btn-sm btn-primary">Detaljer</a>
						<a href="/bookings/rediger?id=@b.Id" class="btn btn-sm btn-warning">Rediger</a>
						<a href="/bookings/delete?id=@b.Id" class="btn btn-sm btn-danger">Slet</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private IReadOnlyList<Booking> bookings;

	protected override async Task OnInitializedAsync()
	{
		bookings = await BookingService.GetAllAsync();
	}
}
